<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<!-- 包名+sql映射文件名保证命名空间的唯一 -->
<mapper namespace="jxnu.edu.x3321.mapper.FilesMapper" >



	<insert id="add" parameterType="jxnu.edu.x3321.domain.Files">
       insert into files(filename,filedir,file_size,userId) values(#{filename},#{filedir},
       #{file_size},#{userId})
    </insert>
    
    <select id="getFBykeyword"  parameterType="String" resultType="jxnu.edu.x3321.domain.Files" >
		select *
			FROM files
			WHERE
			filename LIKE CONCAT('%',#{key,jdbcType=VARCHAR},'%')			
	</select>


	<select id="get" parameterType="_int" resultType="jxnu.edu.x3321.domain.Files">
		select * from files where FileId=#{fileId}
	</select>

</mapper>